#photoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 16px;
}

html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }

        .container {
            /*min-height: 100vh; /* Cambiado a min-height para evitar problemas de altura en pantallas pequeñas */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 70px;
            margin-bottom: 70px;
        }

        .img-fluid {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .text-overlay {
            /* Añadido un color de fondo para mejorar la legibilidad del texto */
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
        }
      
        .display-4 {
            margin-bottom: 20px; 
            font-weight: bold;
            text-shadow: 2px 2px 4px #000;
        }
        
a {
    text-decoration: none;
}

.card-text {
color: #000000c7 !important;
font-size: 20px;
margin-top: 10px;
}

.icon-svg {
    width: 24px; /* Ajusta el tamaño según sea necesario */
    height: 24px;
    fill: white; /* Color del ícono */
    margin-right: 10px; /* Ajusta el margen entre los iconos según sea necesario */
}
.footer-wrapper{
    padding-top:50px;	
    padding-bottom:50px;
    font-size: 14px;
    text-align: center;
}
.footer-wrapper p{
    color: rgba(255,255,255,.5)!important;
}
.footer-wrapper ul li{
    margin-bottom: .8em;
}
.footer-wrapper ul li a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;

}
.footer-wrapper ul li a:hover{
    color:#fff;
    font-size: 14px;
    font-weight: bold;
}
.bg-black{
    background: #262f38;
    
}
.footer-wrapper .footer-adiv .btn.btn-footer{
    padding: 16px;
    border-radius: 99px;
    margin-bottom: 40px;
    color: #fff;
    font-family:Poppins,sans-serif; 
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.2);
    transition: .3s ease;
}

.footer-wrapper .footer-adiv .btn.btn-footer:hover{
    color:#fff;
    font-weight: bold;
}
.copy-wrapper{
    padding: 30px;
    color: #fff;
    border-top: 1px solid #fff;
}
.copy-wrapper a{
    color: rgba(255,255,255,.5)!important;

}
.copy-wrapper a:hover{
    color:#fff;
    text-decoration: none;
}

footer {
    margin-top: 20px;
    display: flex;
  }
  
  .col-md-4 {
    
    margin-bottom: 2rem;
  }
  /* Agrega este bloque en tu hoja de estilos CSS */
#selectedItemImage {
    max-width: 100%;
    max-height: 300px;
    margin-top: 10px;
  }
  
  /* Puedes ajustar el estilo del contenedor según tus necesidades */
  .container mt-5 {
    text-align: center;
    margin-top: 20px;
  }
  .carousel-control-next, .carousel-control-prev {
    height: 15%;
    margin-top: 130px;
    
  }
  /* Estilos adicionales para el carrusel */
#carouselExample {
    max-width: 100%; /* Ajusta el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel en la pantalla */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del carrusel */
}

/* Estilos para las imágenes dentro del carrusel */
.carousel-inner img {
    width: auto; /* Ajusta el ancho automáticamente */
    max-height: 100%; /* Ajusta la altura máxima al 100% del contenedor */
    margin: 0 auto; /* Centra la imagen en el contenedor */
}

/* Estilos para el contenedor de información y el botón Checkout */
.card {
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
}

.image-container {
    position: relative;
    overflow: hidden;
}




  .carousel-control-next-icon {
    background-color: gray;
  }
  .carousel-control-prev-icon {
    background-color: gray;
  }
  .pagination {
    margin-bottom: 100px;
  }